{% extends "base.html" %}
{% block css %}
    <style>

        .about-us-container{
            display: grid;
            grid-template-columns: 2fr 10fr;
            margin-block: 2rem;
        }

        .about-us-title{
            margin-block: 1rem;
            justify-self: center;
            align-self: center;
        }

        .generic-message{
            margin-block: 1rem;
        }

        @media screen and (max-width: 580px) {
            .about-us-container{
                margin-inline: 1rem;
            }
        }

        @media screen and (max-width: 1000px) {
            .about-us-container{
                display: block;
            }
        }
    </style>
{% endblock %}
{% block content %}
<main>
    <div class="about-us-container">
        <h1 class="about-us-title">О нас</h1>
        <p class="about-us-message">

            Команда юристов решила создать контент для помощи людям, оказавшимся в
            трудной правовой ситуации. Взяв на вооружение искусственный интеллект,
            мы разработали алгоритмы, которые помогли нам в короткое время (путем
            анализа большого пула правовой информации и опыта) составлять
            обращения в правоохранительные органы для своевременного
            восстановления прав обратившихся к нам граждан, а также осуществлять их
            защиту от не справедливых обвинений. <br/> <br/>

            Как это работает? После того как Вы попали в сложную ситуацию, в
            которой Вам необходима юридическая помощь, первое - необходимо
            правильно понять в компетенцию какого правоохранительного органа входит
            решение Вашей проблемы; Второе – правильно составить обращение, в
            котором поэтапно будет расписано, в чем суть Вашей проблемы и какой
            алгоритм действий Вы видите для ее решения. Если же в отношении Вас
            выдвигаются не законные обвинения, то мы готовы опираясь на многолетний
            опыт постараться помочь Вам выйти из сложившейся ситуации.

        </p>
    </div>
</main>
{% endblock %}
