{% extends "base.html" %}
{% block css %}
    <style>
        .generic-message-title{
            text-align: center;
        }

        .generic-message{
            margin-block: 1rem;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
<main>
    <div class="generic-message-container">
        <h3 class="generic-message-title">О нас</h3>
        <p class="generic-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque beatae cum enim eum facere facilis id libero magnam molestias necessitatibus nisi optio, praesentium repudiandae rerum tempora ullam vitae voluptas?</p>
    </div>
</main>
{% endblock %}
