{% extends "base.html" %}
{%  load static %}
{% block css %}
    <style>
        #solved-cases-header{
            margin-block-start: 1.5rem;
        }

        #solved-cases-title{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-block: 1.5rem
        }

        #solved-cases-title p {
            font-size: 0.9rem;
        }

        .cases-container{
            margin-block: 4rem;
            list-style: none;
        }


        .cases-container a li{
            width: max-content;
            padding-block: 2rem;
            padding-inline: .25rem;
            border-block-start: 1px solid black;
            width: 85%;
            transition: background-color 150ms linear;
        }

        .cases-container a:last-child li{
            border-block-end: 1px solid black;
        }

        .cases-container a li:hover {
            color: white;
            background-color: var(--accent-color-1);
        }

        .cases-container a li:hover .right-arrow-icon {
            filter: brightness(0) invert(1);
        }

        .case-title-inner{
            display:flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 1.5rem
        }

        .right-arrow-icon{
            width: 58px;
            height: 31px;
        }

        @media screen and (max-width: 580px){
            #solved-cases-header{
                padding-inline: 1rem;
                flex-direction: column;
                gap: 1.5rem;
            }

            .cases-container{
                margin-block: 2rem;
                padding-inline: 1rem;
            }

            .cases-container a li{
                margin-block: 0.5rem;
            }

            .right-arrow-icon {
                display: none
            }
        }
    </style>
{% endblock %}
{% block content %}
<main>
    <div id="solved-cases-header">
        <div id="solved-cases-title">
            <h3>Успешные Кейсы</h3>
            <p>Ниже представлены кейсы в которых мы уже успешно помогли нашим клиентам решить свои проблемы.
                Нажмите на тему кейса чтобы узнать больше.
            </p>
        </div>
        <a class="create-order-btn" href="/home/#contact-form-header"> Составить Обращение </a>
    </div>

    <ol class="cases-container">
        {% for case in cases %}
            <a href="/solved_cases/{{case.id}}" >
            <li>
                <div class="case-title-inner" >
                    <span class="case-title">{{case.title}}</span>
                    <img class="right-arrow-icon" src="{% static '/icons/right-arrow.png' %}">
                </div>
            </li>
            </a>
        {% endfor %}
    </ol>
</main>
{% endblock %}
