<div class="index-contact-form-outer-container">
    <div class="index-contact-form-container">
        <a id="contact-form" > <h2> Получить Конусльтацию </h2> </a>
        <p> Пожалуйста заполните анкету и наши специалисты вам перезвонят. 
            Просим коротко описать суть вашего обращения для лучшего обслуживания. 
        </p>
        <form action="" method="post" name="contact-form">
            {% csrf_token %}
            <div class="contact-form-field">
                {{contact_form.name}}
                <p class="error"></p>
            </div>
            <div class="contact-form-field">
                {{contact_form.email}}
                <p class="error"></p>
            </div>  
            <div class="contact-form-field">
                {{contact_form.phone_no}}
                <p class="error"></p>
            </div>
            <div class="contact-form-field">
                {{contact_form.description}}
                <p class="error"></p>
            </div>
            <input id='input-form-sub-btn' type="button" value="Отправить"
            onclick="contact(this.form)">
        </form>
    </div>
</div>
{% load static %}
<script src="{% static '/js/contactform.js' %}"></script>