<header>
    <h1 class="logo">Логотип</h1>
    <nav class="navbar">
            <div class="navbar-container container">
                    <input type="checkbox" name="" id="">
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <ul class="menu-items">
                        <li><a class="nav-bar-link" href="#home">Главная</a></li>
                        <li><a class="nav-bar-link" href="#about">О Нас</a></li>
                        <li><a class="nav-bar-link" href="#services">Услуги</a></li>
                        <li><a class="nav-bar-link" href="#contacts">Контакты</a></li>
                    </ul>
            </div>
        </nav>
    </header>