<div class="index-contact-form-outer-container">
    <div class="index-contact-form-container">
        <a id="contact-form-header"> <h2> Составитель обращения в гос орган </h2> </a>
        <p> Пожалуйста заполните анкету для начала составления вашего обращения.
            Просим подробно описать суть вашего обращения для лучшего обслуживания.
        </p>
        <form action="" method="post" name="contact-form" id="contact-form"
            data-endpoint="{% url 'contact' %}">
            {% csrf_token %}
            <div class="contact-form-field">
                {{contact_form.name}}
                <p class="field-error"></p>
            </div>
            <div class="contact-form-field">
                {{contact_form.email}}
                <p class="field-error"></p>
            </div>  
            <div class="contact-form-field">
                {{contact_form.phone_no}}
                <p class="field-error"></p>
            </div>
            <div class="contact-form-field">
                {{contact_form.description}}
                <p class="field-error"></p>
            </div>
            <input id='input-form-sub-btn' type="button" value="Составить обращение"
            onclick="contact(this.form)">
        </form>
    </div>
</div>
{% load static %}
<script src="{% static '/js/contactform.js' %}"></script>