<footer class="footer">
    <div class="footer-comp-info">
        <h1> логотип </h1>
        <span class="tel-no"> +7123123123 </span>
    </div>

    <div class="footer-links">
        <ul class="footer-nav-links">
            <li><a class="nav-bar-link" href="#home">Главная</a></li>
            <li><a class="nav-bar-link" href="#about">О Нас</a></li>
        </ul>
        <ul class="policy-links">
            <li> <a>Политика конфиденциальности</a> </li>
            <li> <a>Политика по использованию COOKIES</a> </li>
            <li class="copyright"> @asdasd Pvt ltd</li>
        </ul>
    </div>
</footer>